config service 'digital_ocean'
	option domain 'your.domain.tld'
	option ip_source 'network'
	option interface 'wan'
	option ip_network 'wan'
	option use_logfile '1'
	option force_interval '60'
	option force_unit 'minutes'
	option enabled '1'
	option username 'record_id'
	option password 'auth_token'
	option use_syslog '1'
	option update_script '/root/ddns_digitalocean.sh'